html, body {
    height: 100%;
    width: 100%;
    font-family: Helvetica, sans-serif;
    background: rgb(231,206,227);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    justify-content: center;
  }

  #titulo {
    width: 400px;
    height: 50px;
    padding: 10px;
    margin: 10 auto;
    background-color: rgba(209, 145, 185, 0.96);
    background-size: 30px;
    color: white;
    border-radius: 10px;
    vertical-align:center;
    justify-content: center;
    align-content: left;
    display: flex;
  }

  #subTitulo {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background: #b66f8bcd;
    color: white;
    margin: 10 auto;
    vertical-align:center;
    justify-content: middle;
    align-content: middle;
    display: flex;
  }

  #txtMensajeEncriptado {
    height: 80px;
    width: 250px;
    display: flex;
    justify-content: center;
    margin:auto;
    padding: 0 10px 10px;
    color: #292b36;
  }

  #txtMensaje {
    height: 80px;
    width: 250px;
    align-content: center;
    padding: 0 10px 10px;
    display: flex;
    justify-content: center;
    margin:auto;
    color: #292b36;
  }
  
  #txtMensaje2 {
    height: 80px;
    width: 250px;
    display: flex;
    justify-content: center;
    margin:auto;
    padding: 0 10px 10px;
    color: #292b36;
  }
  
  #btnCifrar {
    background-color:#d6a8cd;
    color: white;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  #btnDescifrar {
    background-color:#d6a8cd;
    color: white;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  #mensaje1 {
    text-align: center;
  }
  #mensaje2 {
    text-align: center;
  }
  #mensaje3 {
    text-align: center;
  }

  .container {
   display: flex; 
   justify-content: left;
  }

  .card {
  background: rgba(209, 145, 184, 0.842);  
  width: 300px;
  height: 220px;  
  margin: 10px;
  border-radius: 10px;
  }
  
  #footer {
    display:table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; 
  }